body.about {
  background-image: url('/img/emilia-about.jpg');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: right top;
}

.about main section article{
  margin-left: 40px;
  color: var(--colorVerdeTitulos);
  margin-top: 50px;
}

.about main section h3 {
  font-weight: 300;
  font-size: 27px;
}


